/*======================
   paramètres généraux
=======================*/

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Raleway',sans-serif;
}


*, ::after,::before {
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

h2 {
    position: relative;
    padding-bottom: 50px;
}

h2 > span::before {
    display: block;
    content: '';
    width: 80px;
    height: 4px;
    border-top: 1px solid #000;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*=============
     Header
==============*/

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 10px;
}

header {
    background-image:url(./images/randos.png);
    padding: 0 4x 100px 4px;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
    height: 540px;
}

/*===Navigation====*/
.navigation {
    display: flex;
    flex-direction: column;
    right: 20px;
}
.devis {
    line-height: 10px;
    padding: 0px 6px 0 6px; 
    background-color: rgb(220, 96, 44);
    border-radius: 0  0 0 4%;
    font-size: 14px;
}

.compte {
  background-color: black;
  line-height: 8px;
  text-align: center;
  padding: 6px 6px 0 6px;
  font-weight: 100;
  border-radius: 0  4% 0 0;
  font-size: 14px;
}

.drapeaux {
    padding: 22px 22px 0 10px;
}

.drapeaux a {
    padding: 0 4px 0 4px;
}

.logo img{
    width: 220px;
    height: 100px;
    position: relative;
    z-index: 2;
    margin: 24px 0 0 0 ;
}

.drapeaux img{
    width: 25px;
    height: 25px;
}

.menu01 ul, .menu02 ul  {
    display: flex;
    list-style-type: none;
}

.menu02 li a, .menu02 li a {
    line-height: 10px;
}

.menu01, .menu02 {  
    position:relative;
    z-index: 2;
    margin:auto;
    text-align: left;
}

.menu01 li a {
    margin: 0 12px 0 12px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid white;
    padding: 4px 8px 4px 8px;
}

.menu01 li a:hover {
    color: black;
    background-color: white;
    border: none;

}

/*======carrousel=======*/
.carroussel {
    position: relative;
    z-index: 2;
    color: white;
    line-height: 12px;
    padding: 120px 0 0 0;    
}

.carroussel h1 {
    font-size: 86px;
    margin-bottom: 60px;
    font-weight: 100;
}

.carroussel p {
    font-size: 32px;
    margin: 0 0 60px 0;
}
.carroussel a {
    margin: 80px 12px 0 12px;
    font-size: 22px;
    font-weight: lighter;
    border: 2px solid white;
    padding: 6px 12px 6px 12px;
}


.carroussel a:hover {
    color: black;
    background-color: white;
    border: none;

}

/*=========================
        Corps
==========================*/

/*====Services==========*/

.services .lien_categories, .equip .lien_categories {
    text-align: center;
 
}
.services .lien_categories a, .equip .lien_categories a{
    font-size: 22px ;
    color: rgb(220, 96, 44);
    border: 1px solid rgb(220, 96, 44);
    padding: 4px 10px 4px 10px;
}

.services .lien_categories a:hover, .equip .lien_categories a:hover{
    font-size: 22px ;
    color:white;
    border: none;
    background-color: rgb(220, 96, 44);
    padding: 4px 10px 4px 10px;
}

.services {
    padding: 50px 15px 70px;
    margin: 0px 90pxx;

}

.offres {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    box-sizing: border-box;
}

.icon_offres {
    color:rgb(220, 96, 44) ;
   font-size: 32px;
}

.services h3 {
   font-size: 26px;
    font-weight: 100;
    padding: 0 20px 0 0px;
    margin: 6px 0px;
}

.offres p {
    font-size: 16px;
    padding: 0 20px 0 0px;
    margin: 0px;
}

.offres a {
    font-size: 32px;
    font-weight: bold;
}

.stevenson, .compostelle, .bagages, .st_guilhem, .surMesure, .opti {
    padding: 20px 30px 20px 30px ;
    text-align: left;
    position: relative;
    width: 25%;
}

.opti img {
    width: 40px;
    height: 38px;
}

.icone_plus {
    position: absolute;
    right: 57px;
    bottom: -16px;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(68, 65, 74);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 100;
}

/*=========randos/services==========*/
.randos .lien_categories {
    text-align: center;
    padding: 32px 0 32px 0;
 
}
.randos .lien_categories a{
    font-size: 22px ;
    color: rgb(68, 65, 74);
    border: 1px solid rgb(68, 65, 74);
    padding: 4px 10px 4px 10px;
}
.randos .lien_categories a:hover{
    font-size: 22px ;
    color: white;
    background-color: rgb(68, 65, 74) ;
    border: none;
    padding: 4px 10px 4px 10px;
}

.services h2, .randos h2, .randos, .equip h2 {
    font-size: 24px;
    text-align: center;
}

/*=======randos==============*/
.randos {
    background-color: rgb(245, 242, 241);
    color: black;
    padding: 20px 0 20px 0;
    margin: 20px 0 20px 0;
}

.img_text {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.img_text h3 {
    font-size: 36px;
    font-weight: 100;
    margin: 0;
    padding: 28px;
    line-height: 44px;
    color: white;
    text-align: center;
}
.stev_img_text, .aubrac_img_text, .stguilhem_img_text, .lepuy_img_text {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
    height: 230px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.voile_img {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(163, 163, 163, 0.349);
    width: 100%;
    height: 230px;
    transition: all 0.3s ease;
}
.voile_img:hover {
    opacity: 0;
}
.stev_img_text {
    background-image: url(./images/stevenson.png);
}
.aubrac_img_text {
    background-image: url(./images/aubrac.jpeg);
}
.stguilhem_img_text {
    background-image: url(./images/stguilhem.jpeg);
}
.lepuy_img_text {
    background-image: url(./images/lepuy.jpeg);
}


/*========équip=========*/
.equip {
    padding: 16px 0 8px 0;
    margin: 20px 0 20px 0px;
}

.chiffres {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    padding: 0 150px;
}

.chiffres h3 {
    text-align: center;
    line-height: 10px;
    color: white;
    background-color:#DC602C;
    border: 2px solid #DC602C;
    border-radius: 50%;
   width: 150px;
   height: 150px;
   margin: 0 auto;
}

.chiffres h3 .nomb {
    font-size: 48px;
    font-weight: 100;
}

.chiffres h3 .mesure {
    font-size: 16px;
    font-weight: 100;
}

.chiffres_texte {
    font-size: 18px;
    margin: 0px 0px 10px 0px;
    padding: 10px 60px 10px 60px;
}

.perf_tel, .perf_etape, .perf_sentiers {
    padding-top: 30px;
    text-align: center;
    position: relative;
    width: 30%;
    /* line-height: 32px; */

}

/*==========client=======*/
.client {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    z-index: 0;
    height: 800px;
    width: 100%;
    padding: 2px 320px 600px 0px;
    /* margin: auto; */
    background-image: url(./images/img_clients.jpg);
    border: 2px solid white
}

.client_texte  {
    background-color: rgba(223, 110, 52, 0.9);
    z-index: 2;
    position: relative;
    width: 58%;
    height: 600px;
    margin: 100px 180px 100px 180px ;
    padding: 20px 20px 620px 20px;
    min-height: 1px;
    box-sizing: border-box;
    border: 2px solid rgba(223, 110, 52, 0.9);
    color: white;
}



.client_texte h3 {
    font-size: 42px;
    text-align: left;
    font-weight: 100;
}

.client_texte p {
    font-size: 18px;
    text-align: left;
    font-weight: 100;
    padding: 0 200px 0 0;
    font-style: italic;
}

/*======newsletter========*/
.newsletter {
    text-align: center;
    background-color: rgb(56, 53, 60);
    color: white;
   padding: 20px 20px 60px 20px;
   line-height: 22px;
}

.newsletter h2 {
    padding: 0 0 0 2px;
}

.newsletter p {
    padding: 0 60px 0 60px;
}

.newsletter input {
    padding: 8px 80px 8px 80px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 8px 0 0;
    font-size: 14px;

}

.newsletter button {
    padding: 8px 60px 8px 60px;
    border: 1px solid #ccc;
    color: #fff;
    border-color:  rgb(255, 255, 255);
    background-color:rgb(56, 53, 60);
    font-size: 14px;


}

/*========================
         Footer
=========================*/

.footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(68, 65, 74);
    color: white;
    padding: 80px 20px 60px 20px;
    line-height: 22px;
}

.log_footer img {
    width: 180px;
    height: 80px;
}

.produits p {
    margin-bottom: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    width: 460px;
}

.footer li {
    list-style: none;
}

.social_icon {
    background-color: #5d5965;
    display: inline-block;
    border-radius: 50%;
    padding: 14px 11px;
    margin-left: 10px;
}

.partners {
    text-align: right;
}
.partners img {
    width:220px;
    height: 80px;
}

.partners li {
    padding: 8px 0 0 0;
}

.copyright {
    display: flex;
    justify-content: space-between;
    background-color: rgb(68, 65, 74);
    color: white;
    padding:  20px 140px 36px 140px;
    line-height: 22px;
    font-weight: 100;    
}

.tiret_copyright {
    background-color: rgb(68, 65, 74);
    color: white;
    font-family: sans-serif;
    text-align: center;

}


