
/*paramètres généraux*/

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Raleway',sans-serif;
}


*, ::after,::before {
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

h2 {
    position: relative;
    padding-bottom: 50px;
}

h2 > span::before {
    display: block;
    content: '';
    width: 80px;
    height: 4px;
    border-top: 1px solid #000;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
/* paramètres header*/

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
} 
/*paramètres header menus*/
.devis {
    line-height: 12px;
    padding: 0px 6px 0 6px; 
    background-color: rgb(220, 96, 44);
    border-radius: 0  0 0 4%;
    font-size: 14px;
}

.compte {
  background-color: black;
  line-height: 26px;
  text-align: center;
  padding: 6px 6px 0 6px;
  font-weight: 100;
  border-radius: 0  4% 0 0;
  font-size: 14px;
}

.drapeaux {
    padding: 22px 22px 0 10px;
}

.drapeaux a {
    padding: 0 4px 0 4px;
}

.logo img{
    width: 220px;
    height: 60px;
    position: relative;
    z-index: 2;
    margin: 24px 0 0 0 ;
}

.drapeaux img{
    width: 25px;
    height: 25px;
}

.menu01 ul, .menu02 ul  {
    display: flex;
    list-style-type: none;
}

.menu02 li a, .menu02 li a {
    line-height: 14px;
}

.menu01, .menu02 {  
    position:relative;
    z-index: 2;
    margin:auto;
    text-align: left;
}

.menu01 li a {
    margin: 0 12px 0 12px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid white;
    padding: 4px 0px;
    color: rgb(220, 96, 44);
}

.menu01 li a:hover {
    color: white;
    background-color: rgb(220, 96, 44);
    border: none;

}
/*paramètres newsletter footer*/

.newsletter {
    text-align: center;
    background-color: rgb(56, 53, 60);
    color: white;
   padding: 20px 20px 60px 20px;
   line-height: 22px;
}

.newsletter h2 {
    padding: 0 0 0 2px;
}

.newsletter p {
    padding: 0 60px 0 60px;
}

.newsletter input {
    padding: 8px 80px 8px 80px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 8px 0 0;
    font-size: 14px;

}

.newsletter button {
    padding: 8px 60px 8px 60px;
    border: 1px solid #ccc;
    color: #fff;
    border-color:  rgb(255, 255, 255);
    background-color:rgb(56, 53, 60);
   font-size: 14px;
}

/*paramètres footer*/

.footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(68, 65, 74);
    color: white;
    padding: 80px 20px 60px 20px;
    line-height: 22px;
}

.log_footer img {
    width: 180px;
    height: 80px;
}

.produits p {
    margin-bottom: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    width: 460px;
}

.footer li {
    list-style: none;
}

.social_icon {
    background-color: #5d5965;
    display: inline-block;
    border-radius: 50%;
    padding: 14px 11px;
    margin-left: 10px;
}

.partners {
    text-align: right;
}
.partners img {
    width:220px;
    height: 80px;
}

.partners li {
    padding: 8px 0 0 0;
}

/*paramètres copyright footer*/

.copyright {
    display: flex;
    justify-content: space-between;
    background-color: rgb(68, 65, 74);
    color: white;
    padding:  20px 140px 36px 140px;
    line-height: 22px;
    font-weight: 100;    
}

.tiret_copyright {
    background-color: rgb(68, 65, 74);
    color: white;
    font-family: sans-serif;
    text-align: center;

}


/*page contact contenu*/

.corps {
    color: black;
    font-size: 14px;
    line-height: 1.3em;
    box-sizing: border-box;
}

.tiret {
    font-family: sans-serif;
    text-align: left;
}
.tiret01 {
    font-family: sans-serif;
    text-align: center;
}



/*bandeau haut img/text*/

.bandeau {
   background-image: url(./images/keyboard.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding: 35px 0 50px 0;
   color: white;
}

.bandeau h1, .bandeau p {
    text-align: center;
}

.bandeau h1 {
    font-size: 84px;
    font-weight: 100;
}

.bandeau p {
    font-size: 26px;
    font-weight: 700;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 20px;
}

.content {
 margin: 15px auto;
 padding: 50px 0;
}

.intro {
    margin-bottom: 50px;
}

.intro p {
    text-align: center;
    font-size: 18px;
    color: black;
    font-style: italic;
    line-height: 26px;
}

.intro a {
    color: #dc602c;
}

.contact {
 margin-left: -15px;
 margin-right: -15px;
}

.contact h3 {
    text-align: center;
    color: black;
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

.contact_bloc {
       display: flex;
       justify-content: center;
       align-items: center;
}

.adresses {
padding-left: 15px;
padding-right: 15px;
text-align: left;
margin: 0 88px 0 0;

}

.adresses h3 {
    font-size: 52px;
    font-weight: 100;
    text-align: 1;
}

.adresses p, .adresses a {
    font-size: 26px;
    font-weight: 200;
}
.ou {
    font-size: 14px;
    font-weight: 400;
}

.adresses .social_icon {
   font-size: 11px;
   text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 0 0 22px;
  
}

form input, form textarea, form button {
    padding: 8px 128px 8px 12px;
    margin: 5px 0 5px 0;  
    font-size: 14px;
}

.boutique {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 56px;
}
.boutique h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.boutique_bloc {
    border: yellowgreen 2px solid;
    width: 100%;
    height: 140px;
    display: flex;
    
}

.map {
    border: violet solid 2px;
    width: 50%;
    height: 60px;
}

.infos {
    border: turquoise solid 2px;
    width: 50%;
    height: 60px;

}
